# Miscellaneous
.DS_Store
*.log
pubspec.lock

# Intellij IDEs
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter specific
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/

# Android specific
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/gradle.properties
android/app/build/
android/app/*.iml
android/app/src/debug/
android/app/src/profile/
android/gradle/
android/app/src/androidTest/
android/.gitignore

# iOS specific
ios/Flutter/.last_build_id
ios/Pods/
ios/.generated/
ios/.gitignore
ios/Runner.xcworkspace/

# Web specific
web/.dart_tool/
web/.gitignore

# MacOS specific
macos/.generated/
macos/.gitignore

# Linux specific
linux/.generated/
linux/.gitignore

# Windows specific
windows/.generated/
windows/.gitignore
